<form class="col-md-8" action='/contact' method='post'>
  <label for='name'> Name:</label>
  <br />
  <input class="form-control" name='name' type='text' id='name' required/>
<br />
  <label for='email'> Email from:</label>
  <br />
  <input class="form-control" name='email' type='email' id='email' required/>
<br />
 <label for='password'> Password:</label><input id="password" class="form-control" name="password" type="password" required/>
<br />
  <label for='emai'>Recipient Email:</label>
<input class="form-control" name='receiver' type='email' id='emai' required/>
<br />
  <label for='subject'> Subject:</label>
  <input class="form-control" name="subject" type="text" id="subject" required/>
<br />
  <label for='message'> Message:</label>
  <br />
  <textarea class="form-control" rows="5" cols="50" name='message' cols='40' rows='10' id='message' required></textarea>
<br />
  <input class="btn btn-primary pull-right"type='submit' value='Send'>
</form>

